.example-card {
    max-width: 90%;
}

.example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSReP20OZn4-qTXDqbPKnPLGnATKDrmIbammr4b38UaiP3pQyz1rA');
    background-size: cover;
}

table {
    width: 100%;
}

.cv_image {
    height: 300px;
    width: auto;
}