<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="title" #title="ngModel" ngModel placeholder="Post Title" required>
            <mat-error *ngIf="title.invalid">
                Please enter a post title.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4" name="content" ngModel required #content="ngModel" placeholder="The content goes here."></textarea>
            <mat-error *ngIf="content.invalid">
                Please enter a post content.
            </mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" color="accent">
                    save post 
                </button>
    </form>

</mat-card>